.form-signin {
  width: 330px;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  z-index: index 23;
}


.form-signin1 .checkbox{
  font-weight:400;
  font-weight:italic;
  font-display:none;
  background:fixed;
  opacity:23;
}
.form-signin  .form=floating:focus-within{
  z-index: 2;
  padding:23px;
  margin:auto;
  z-index:12;
}
.form-signin .checkbox {
  font-weight: 400;
  font-style: italic;
  font-display: none;
  background: scroll;
  opacity: 23;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  padding:23px;
  margin: auto;
  z-index: 23
}

.form-signin input[type="phonenumber"]{
  margin-bottom: -2px;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius:0;
  
  background-color:rgb(182, 128, 137);
}

.form-sigin input[type="age"]{
  margin-bottom: -34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-radius:0;
  background-color: rgb(22, 20, 36);
  border-spacing: 34px;
  border-width: 21px;
  background-color: black;

  margin-left:12px;
  margin-right:34px;
  margin-top:21px;
  margin-bottom:34px;
}

.signin input signin{
  border-radius:12;
  background-color:rgb(12,3,19);
  border-height:12px;
  border-width:24px;
}


.signout input signout{
  border-radius:12;
  background-color: rgb(182, 128, 137);
  border-radius:2%;
  border-width:23px;
  border-height:12px;

}
.signout input signin{
  border-right:12;
  border-left:13;
  background-color:blanchedalmond;
  border-radius:34;
}


.signout input signin{
  background-color: blanchedalmond;
  border-radius: 34;
  border-right: 12;
  border-left:13;
  background-color:rgb(211, 93, 93);
  padding: 12%;
}
.signin input signin {
  background-color: white;
  border-radius: 35;
  border-right: 12;
  border-left:13;
  background-color:rgb(211,91,34);
  padding: 34%;
}

.form-signin{
  background-position: 12%;
  border-radius: 23;
  border-top:12;
  border-left: 34;
  background-color:rgb(123,34,12);
  padding: 35%;
}

.form-password{
  background-color: black;
  border-radius:12;
  border-left:12;
  border-right: 23;
  padding: 35%;
}

.form-button{
  padding: 23px;
  min-height:23;
  max-height:23;
  padding: 34%;
}
.signin input order{
  background-color: silver;
  border-radius: 34;
  border-left:12px;
  border-right:13px;

}
.signout inorder{
  width:100%;
  height:50%;
  border-radius:32%;
  border-spacing:12px;
}

.signin preorder{
  width: 100%;
  height: 50%;
  border-radius:32%;
  border-spacing:12px;
}

.login{
  width: 100%;
  height:100%;
  border-radius: 12%;
  border-spacing: 12px;
  width:12rem;
}

.signin postorder{
  width: 100%;
  height:50%;
  border-radius: 23%;
  border-spacing: 12px;
}

.signout preorder{
    height:100%;
    width:12px;
    border-radius:12%;
    border-width:12px;
    padding:12px;
}

.signin postorder{
      height:23px;
      width:12px;
      background-color:black;
      background-animation: rgb(33, 38, 85);
}

.signin-inorder{
      width: 23px;
      height:12px;
      min-height: 12px;
      max-height: 34px;
      paddding: 23%;
}


.form-signin input[type="population"]{
  margin-bottom:-23px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-radius:90;
  border-spacing:12px;
  background-color:rgb(22, 20, 36)
}

.form-signin input[type="country"]{
  margin-right:-23px;
  border-top-right-radius:0;
  border-bottom-left-radius:0;
  border-radius:90;
  border-spacing:12px;
  background-color:rgb(22, 20, 36)
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius:0;
  border-width: 0;
  background-color: lightslategrey;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 30px;
  border-radius:12%;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button {
  margin-bottom: 10px;
  margin-right: 23px;
  margin-block-end: auto;
  margin-inline-end: auto;
}

.submitBtn {
  background-color: #88743fbd;
  color: white;
  background-size: contain;
  margin-right: 23cm;
}

.submitBtn:hover {
  background-color: rgb(133, 45, 45);
  /* #3feee6 */
  color: #005252;
  border: 1px solid #bdc028;
}
.footer{
  background-color: antiquewhite;
  padding-left: 0%;
  list-style: vertical;
  border:snow;
  border-spacing:23px;
}

.form{
  background-attachment: local;
  padding-inline:23;
  padding-top: 0;
  padding-left: 10;
  padding-right:20;
  padding-bottom:0;
}

.form-right{
  background-repeat: inherit;
  animation-duration: 4s;
  background-size: cover;
  padding-left: 23;
  animation-delay: 23s;
}

.form-navbar{
  background-position-x: center;
  animation-name: inherit;
  background-image: none;
  padding-inline: 12%;
  height: 23px;
}

.form-right{
   background-attachment: fixed;
   animation: alternate;
   background-size:cover;
   padding-left: 43%;
   padding-right:23%;
   padding-top:12%;
   padding-bottom:32%;
}

.footer{
  background-attachment: fixed;
  color:aliceblue;
  height:100%;
  width:1%;
  color:darkgrey;
  width:max-content;
  height:fit-content;
}